.book .book-header h1 {
  opacity: 1;
  text-align: left;
}

#header .title {
  margin-bottom: 0em;
}

.column-left-50 {
  float: left;
  width: 50%;
}

.column-right-50 {
  float: right;
  width: 50%;
}

.column-left-instructions {
  float: left;
  width: 20%;
  text-align: left;
}

.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f0ffff 5px center/3em no-repeat;
  color: black;
  border: 2px solid #7fffd4;
  border-radius: 10px;
}

.showbox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: rgba(253,245,237,0.5) 5px center/3em no-repeat;
  color: #505050;
  border: 2px solid #ffefef;
  border-radius: 10px;
}

.center {
  text-align: center;
}

.note {
  background-image: url("images/note.png");
}

.lcolumn-50 {
  float: left;
  width: 50%;
}

.rcolumn-50 {
  float: right;
  width: 50%;
}

.lcolumn-30 {
  float: left;
  width: 30%;
}

.rcolumn-70 {
  float: right;
  width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.lcolumn-20 {
  float: left;
  width: 20%;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 75%;
}

.rcolumn-80 {
  float: right;
  width: 80%;
    padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}


.boxed {
  background: #E8E8E8;
  color: black;
  border: 3px solid black;
  margin: 0px auto;
  width: 100%;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 5px;
}
